<div class="page-header">
  <%= link_to new_drug_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Drug
  <% end %>
  <h1>Listing drugs</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Id</th>
            <th>Kind</th>
            <th>Quantity</th>
            <th>Observations</th>
            <th>Iph</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @drugs) do |drug| %>
            <td><%= drug.id %></td>
            <td><%= drug.kind %></td>
            <td><%= drug.quantity %></td>
            <td><%= drug.observations %></td>
            <td><%= drug.iph_id %></td>
            <td><%= link_to 'Show', drug %></td>
        <td><%= link_to 'Edit', edit_drug_path(drug) %></td>
        <td><%= link_to 'Destroy', drug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
