<div class="page-header">
  <%= link_to new_officer_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Officer
  <% end %>
  <h1>Listing officers</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name1</th>
            <th>Last name2</th>
            <th>Patrol</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @officers) do |officer| %>
            <td><%= officer.id %></td>
            <td><%= officer.first_name %></td>
            <td><%= officer.last_name1 %></td>
            <td><%= officer.last_name2 %></td>
            <td><%= officer.patrol_id %></td>
            <td><%= link_to 'Show', officer %></td>
        <td><%= link_to 'Edit', edit_officer_path(officer) %></td>
        <td><%= link_to 'Destroy', officer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
