<div class="page-header">
  <%= link_to new_suburb_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Suburb
  <% end %>
  <h1>Listing suburbs</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Id</th>
            <th>Description</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @suburbs) do |suburb| %>
            <td><%= suburb.id %></td>
            <td><%= suburb.description %></td>
            <td><%= link_to 'Show', suburb %></td>
        <td><%= link_to 'Edit', edit_suburb_path(suburb) %></td>
        <td><%= link_to 'Destroy', suburb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
