<div class="page-header">
  <%= link_to new_infraction_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Infraction
  <% end %>
  <h1>Listing infractions</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Id</th>
            <th>Description</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @infractions) do |infraction| %>
            <td><%= infraction.id %></td>
            <td><%= infraction.description %></td>
            <td><%= link_to 'Show', infraction %></td>
        <td><%= link_to 'Edit', edit_infraction_path(infraction) %></td>
        <td><%= link_to 'Destroy', infraction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
