<div class="page-header">
  <%= link_to new_official_qualifier_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Official qualifier
  <% end %>
  <h1>Listing official_qualifiers</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @official_qualifiers) do |official_qualifier| %>
            <td><%= official_qualifier.id %></td>
            <td><%= official_qualifier.name %></td>
            <td><%= link_to 'Show', official_qualifier %></td>
        <td><%= link_to 'Edit', edit_official_qualifier_path(official_qualifier) %></td>
        <td><%= link_to 'Destroy', official_qualifier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
