<div class="page-header">
  <%= link_to new_money_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Money
  <% end %>
  <h1>Listing money</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Id</th>
            <th>Kind</th>
            <th>Quantity</th>
            <th>Real money</th>
            <th>Observations</th>
            <th>Iph</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @money) do |money| %>
            <td><%= money.id %></td>
            <td><%= money.kind %></td>
            <td><%= money.quantity %></td>
            <td><%= money.real_money %></td>
            <td><%= money.observations %></td>
            <td><%= money.iph_id %></td>
            <td><%= link_to 'Show', money %></td>
        <td><%= link_to 'Edit', edit_money_path(money) %></td>
        <td><%= link_to 'Destroy', money, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
