<div class="page-header">
  <%= link_to new_multimedium_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Multimedium
  <% end %>
  <h1>Listing multimedia</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Id</th>
            <th>Kind</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Iph</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @multimedia) do |multimedium| %>
            <td><%= multimedium.id %></td>
            <td><%= multimedium.kind %></td>
            <td><%= multimedium.quantity %></td>
            <td><%= multimedium.description %></td>
            <td><%= multimedium.iph_id %></td>
            <td><%= link_to 'Show', multimedium %></td>
        <td><%= link_to 'Edit', edit_multimedium_path(multimedium) %></td>
        <td><%= link_to 'Destroy', multimedium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
