<div class="page-header">
  <%= link_to new_commander_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Commander
  <% end %>
  <h1>Listing commanders</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name1</th>
            <th>Last name2</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @commanders) do |commander| %>
            <td><%= commander.id %></td>
            <td><%= commander.first_name %></td>
            <td><%= commander.last_name1 %></td>
            <td><%= commander.last_name2 %></td>
            <td><%= link_to 'Show', commander %></td>
        <td><%= link_to 'Edit', edit_commander_path(commander) %></td>
        <td><%= link_to 'Destroy', commander, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
