<div class="panel panel-info">
  <div class="panel-heading"> Persona</div>
  <div class="panel-body">

    <div class="form-group">
      <%= f.label :first_name, "Nombre", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :first_name, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :last_name1, "Paterno", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :last_name1, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :last_name2,"Materno", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :last_name2, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :alias,"Alias", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :alias, :class => "form-control" %>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :nacionality,"Nacionalidad", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.select :nacionality,["Mexicano","Extranjero"], {:prompt => "SELECCIONE"}, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :ethni_group,"Grupo Etnico", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :ethni_group, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :birth_date,"Fecha de Nacimiento", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10 input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        <%= f.text_field :birth_date, :as => :datetime_picker, :class => "form-control datePicker" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :age, "Edad", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :age, :class => "form-control" , :id => "edad" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :rfc,"CURP/RFC", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :rfc, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :sex, "Sexo", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.select :sex, ["Masculino", "Femenino"], {:prompt => "SELECCIONE"}, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :domicile,"Domicilio", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :domicile, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :status_id,"Estatus", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.collection_select(:status_id, Status.all, :id, :description, {:prompt => "SELECCIONE"}, :class => "form-control") %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :residencial_status, "Estatus residencial", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.radio_button :residencial_status, 'Nacional', :checked => true %> 
        <%= label :nacional, 'Nacional' %>
        <%= f.radio_button :residencial_status, 'Extranjero legal' %>
        <%= label :extranjero_legal, 'Extranjero legal' %>
        <%= f.radio_button :residencial_status, :class => "form-control" %>
        <%= label :extranjero_ilegal, 'Extranjero ilegal' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :profession,"Profesión", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :profession, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :pupilage,"Escolaridad", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :pupilage, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :particular_phone, "Telefono fijo", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :particular_phone, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :mobile_phone,"Telefono celular", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :mobile_phone, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :observations, "Observaciónes", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_area :observations, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :detention_ubication,"Ubicación del detenido", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :detention_ubication, :class => "form-control", :value => "DIRECCIÓN DE VIALIDAD", :readonly => true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :at_disposal_of, "Autoridad a la que fue puesta a disposición", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.select :at_disposal_of, ["OFICIAL CALIFICADOR","FISCALIA GRAL","PGR","MIGRACIÓN","OTROS"], {:prompt => "SELECCIONE"}, :class => "form-control", :onchange=> "getColumnId(this);"%>
      </div>
    </div>
    <div class="form-group oficial">
      <%= f.label :qualifier_officer_name, "Oficial calificador", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :qualifier_officer_name, :class => "form-control"%>
<%#= f.collection_select(:official_qualifier_id, OfficialQualifier.all, :id, :name, {:prompt => "SELECCIONE"}, :class => "form-control") %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :shift, "Turno", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">

        <%= f.radio_button :shift, 'Matutino', :checked => true %> 
        <%= label :matutino, 'Matutino' %>
        <%= f.radio_button :shift, 'Vespertino' %>
        <%= label :vespertino, 'Vespertino' %>
        <%= f.radio_button :shift, "Nocturno" %>
        <%= label :nocturno, 'Nocturno' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.link_to_add '<i class="icon icon-attention-circled">   Agregar probable delito</i>'.html_safe, :crime_person, :class => "btn btn-primary" %>
      </div>
    </div>
    <p>
      <%=f.fields_for :crime_person do |builder| %>
        <%= render 'crime_fields', :f => builder %>
      <%end%>
    </p>

    <%=f.link_to_remove '<i class="icon icon-user-delete">  Remover persona</i>'.html_safe,:class => 'btn btn-danger'%>
  </div>
</div>






<script type="text/javascript">
  $(function() {
    $('.datePicker').each(function() {
      $(this).datepicker({dateFormat: 'dd/mm/yy', changeMonth: true, changeYear: true,
        yearRange: '-100:+0'});
    });
  });
  $('.oficial').fadeOut(0);
  function getColumnId(column) {
    var column_id = column.id.replace(/[a-z_]/gi, "");
    person_id = "iph_person_attributes_" + column_id + "_at_disposal_of";
    //alert(document.getElementById(person_id).value);
    if (document.getElementById(person_id).value === "OFICIAL CALIFICADOR") {
      //alert("HABILITAMOS ENTRADA");
      $('.oficial').fadeIn(0);
    } else {
      $('.oficial').fadeOut(0);
      // $('#'+person_id).val('');
    }

  }
</script>