<div class="page-header">
  <%= link_to new_iph_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Iph
  <% end %>
  <h1>Listing iphs</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Officer</th>
        <th>Infraction</th>
        <th>Coordinator</th>
        <th>Commander</th>
        <th>District</th>
        <th>Sector</th>
        <th>Suburb</th>
        <th>Shift</th>
        <th>Street</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @iphs) do |iph| %>
      <td><%= iph.event_date %></td>
      <td><%= iph.officer.name %></td>
      <td><%= iph.infraction.description %></td>
      <td><%= iph.coordinator.name %></td>
      <td><%= iph.commander.name %></td>
      <td><%= iph.district.description %></td>
      <td><%= iph.sector.description %></td>
      <td><%= iph.shift %></td>
      <td><%= iph.suburb.description %></td>
      <td><%= iph.street.description %></td>
      <td><%= link_to 'Show', iph %></td>
      <td><%= link_to 'Edit', edit_iph_path(iph) %></td>
      <td><%= link_to 'Destroy', iph, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    </tbody>
  </table>
</div>
