<div class="page-header">
<%#= link_to iphs_path, :class => 'btn btn-default' do %>
<%#*<span class="glyphicon glyphicon-list-alt"></span>%>
<%#*Back%>
<%# end %>
<%#= link_to edit_iph_path(@iph), :class => 'btn btn-primary' do %>
<%#*<span class="glyphicon glyphicon-pencil"></span>%>
<%#*Edit%>
<%# end %>

  <h3 style="text-align: center;"><%= image_tag "/assets/logo_vialidad.png", :width => "50 px" %> 
    DIRECCION DE VIALIDAD Y TRANSITO
    <%= image_tag "/assets/logo_fiscalia.png", :width =>"50 px" %></h3>
  <h5 style="text-align: center;">
    <%= t(:iph) %>
  </h5>
</div>


<div class="panel panel-primary" style="font-size: 80%">
  <!-- Default panel contents -->
  <div class="panel-heading">Datos generales</div>
  <div class="panel-body">
    <p>
      <strong>Folio</strong> 
    <u><%= @iph.id %></u>

    <strong>Numero de oficio</strong>
    <u><%= @iph.office_number %></u>

    <strong>Fecha y hora del evento</strong>
    <u><%=I18n.l @iph.event_date, :format => "%d de %B del %Y a las %H:%M hrs" %></u>
    </p>
    <p>
      <strong>Numero Ece. Transporte</strong>
    <u><%= @iph.officer.patrol.description %></u>

    <strong>No. de Oficial</strong>
    <u><%= @iph.officer.id %></u>
    </p>
    <p>
      <strong>Motivo</strong>
    <u><%= @iph.infraction.description %></u>
    </p>
    <p>
      <strong>Dirigido a</strong>
    <u><%= @iph.addressed_to %></u>
    </p>
    <p>
      <strong>Oficial</strong>
    <u><%= @iph.officer.name %></u>
    </p>
    <p>
      <strong>Operativo</strong>

      <%if !@iph.operative%>
      <u>   NO   </u>          
    <%else %>
      <u> SI</u>

      <strong>Nombre del Operativo</strong>
      <u><%= @iph.operative_name %></u>

    <%  end %>
    </p>
    <p>
      <strong>Nombre del coordinador  </strong>
    <u><%= @iph.coordinator.name %></u>
    </p>
    <p>
      <strong>Nombre del Comandante en turno  </strong>
    <u><%= @iph.commander.name %></u>
    </p>
  </div>


  <ul class="list-group ">
    <p class="list-group-item list-group-item-info">Ubicación</p>
  </ul>
  <div class="panel-body">
    <p>
      <strong>Estado</strong>
    <u><%= @iph.state %></u>

    <strong>Municipio</strong>
    <u><%= @iph.township.description %></u>
    </p>
    <p>
      <strong>Distrito</strong>
    <u><%= @iph.district.description %></u>

    <strong>Sector</strong>
    <u><%= @iph.sector.description %></u>

    <strong>Turno</strong>
    <u><%= @iph.shift %></u>
    </p>
    <p>
      <strong>Localidad</strong>
    <u><%= @iph.township.description %></u>
    <strong>Colonia</strong>
    <u><%= @iph.suburb.description %></u>
    </p>
    <p>
      <strong>Calle</strong>
    <u><%= @iph.street.description %></u>

    <strong>Numero Interior</strong>
    <u><%= @iph.interior_number %></u>

    <strong>Numero exterior</strong>
    <u><%= @iph.exterior_number %></u>

    <strong>Codigo postal</strong>
    <u><%= @iph.zip %></u>
    </p>

    <p>
      <strong>Between streets:</strong>
    <u><%= @iph.between_streets %></u>
    </p>
    <p>
      <strong>References:</strong>
    <u><%= @iph.references %></u>
    </p>
    <p>
      <strong>Tramo carretero</strong>
      <% if !@iph.road %>

      <u>NO</u>
    <%else%>
      <u>SI</u>

      <strong>Tramo carretero</strong>
      <u><%= @iph.road_name %></u>
      <strong>Kilometro</strong>
      <u><%= @iph.kilometer %></u>

    <%end%>

    </p>
  </div>

  <ul class="list-group ">
    <p class="list-group-item list-group-item-info">Descripción de los hechos</p>
  </ul>
  <div class="panel-body">
    <p>
      <b><%= @iph.facts_description %></b>
    </p>
  </div>


  <% @iph.person.each do |person| %>
    <ul class="list-group ">
      <a class="list-group-item active"> Persona involucrada 
        <%= person.id %>
      </a>
    </ul>
    <div class="panel-body">
      <p>
        <strong>Apellido Paterno</strong>
      <u><%= person.last_name1 %></u>
      <strong>Apellido Materno</strong>
      <u><%= person.last_name2 %></u>
      <strong>Nombre(s)</strong>
      <u><%= person.first_name %></u>
      </p>
      <p>
        <strong>Alias</strong>
      <u><%= person.alias %></u>
      <strong>Nacionalidad </strong>
      <u><%= person.nacionality %></u>
      <strong>Grupo Étnico </strong>
      <u><%= person.ethni_group %></u>
      </p>
      <p>
        <strong>Fecha de Nacimiento</strong>
      <u><%= person.birth_date %></u>
      <strong>Edad</strong>
      <u><%= person.age %></u>
      <strong>RFC</strong>
      <u><%= person.rfc %></u>
      <b>Sexo</b>
      <u><%= person.sex %></u>
      </p>
      <p>
        <strong>Domicilio</strong>
      <u><%= person.domicile %></u>
      </p>
      <p>
        <strong>Clasificacion</strong>
      <u><%= person.status.description %></u>
      <strong>Grupo Étnico </strong>
      <u><%= person.residencial_status %></u>
      </p>
    </div>

    <ul class="list-group ">
      <p class="list-group-item list-group-item-info">Probables delitos</p>
    </ul>
    <div class="panel-body">
      <ul>
        <% person.crime_person.each do |crime| %>
          <li class="icon icon-attention-circled" style="list-style-type: none"><%= crime.crime.description %></li>
        <%end%>
      </ul>
    </div>

    <ul class="list-group ">
      <p class="list-group-item list-group-item-info">otros datos</p>
    </ul>
    <div class="panel-body">

      <p>
        <b>Ocupación</b>
      <u><%= person.profession %> </u>

      <b>Escolaridad</b>
      <u><%= person.pupilage %> </u>
      </p>
      <p>
        <b>Teléfono particular</b>
      <u><%= person.particular_phone %> </u>
      <b>Teléfono celular</b>
      <u><%= person.mobile_phone %> </u>
      </p>
      <p>
        <b>Observaciones</b>
      <u><%= person.observations %> </u>
      </p>
    </div>

    <% if person.status.description != "VICTIMA" %>
      <ul class="list-group ">
        <p class="list-group-item list-group-item-info">Datos de la detencion</p>
      </ul>
      <div class="panel-body">
        <p>
          <b>Motivo de la detencion</b>
        <u> <%= @iph.infraction.description %></u>

        </p>
      </div>
    <% end %>
  <%end%>

  <ul class="list-group ">
    <a class="list-group-item active">Vehiculos involucrados</a>
  </ul>
  <div class="panel-body">
    <p> datos datos datod </p>
  </div>
</div>
<%= link_to_function('<i class="icon icon-print">Imprimir</i>'.html_safe, "javascript:print()", :class => "btn btn-primary")  %>

