<div class="page-header">
<%#= link_to iphs_path, :class => 'btn btn-default' do %>
<%#*<span class="glyphicon glyphicon-list-alt"></span>%>
<%#*Back%>
<%# end %>
<%#= link_to edit_iph_path(@iph), :class => 'btn btn-primary' do %>
<%#*<span class="glyphicon glyphicon-pencil"></span>%>
<%#*Edit%>
<%# end %>

  <h3 style="text-align: center;"><%= image_tag "/assets/logo_vialidad.png", :width => "50 px" %> 
    DIRECCION DE VIALIDAD Y TRANSITO
    <%= image_tag "/assets/logo_fiscalia.png", :width =>"50 px" %></h3>
  <h5 style="text-align: center;">
    <%= t(:iph) %>
  </h5>
</div>


<div class="panel panel-primary" style="font-size: 80%">
  <!-- Default panel contents -->
  <div class="panel-heading">Datos generales</div>
  <div class="panel-body">
    <p style="padding-left:1em">
      <b  >Folio</b> 
    <u ><%= @iph.id %></u>

    <b>Numero de oficio</b>
    <u ><%= @iph.office_number %></u>

    <b  >Fecha y hora del evento</b>
    <u ><%=I18n.l @iph.event_date, :format => "%d de %B del %Y a las %H:%M hrs" %></u>
    </p>
    <p style="padding-left:1em">
      <b  >Numero Ece. Transporte</b>
    <u ><%= @iph.officer.patrol.description %></u>

    <b  >No. de Oficial</b>
    <u ><%= @iph.officer.id %></u>
    </p>
    <p>
      <b >Motivo</b>
    <u ><%= @iph.infraction.description %></u>
    </p>
    <p>
      <b >Dirigido a</b>
    <u ><%= @iph.addressed_to %></u>
    </p>
    <p>
      <b >Oficial</b>
    <u ><%= @iph.officer.name %></u>
    </p>
    <p>
      <b >Operativo</b>

      <%if !@iph.operative%>
      <u >   NO   </u>          
    <%else %>
      <u > SI</u>

      <b >Nombre del Operativo</b>
      <u ><%= @iph.operative_name %></u>

    <%  end %>
    </p>
    <p>
      <b >Nombre del coordinador  </b>
    <u ><%= @iph.coordinator.name %></u>
    </p>
    <p>
      <b >Nombre del Comandante en turno  </b>
    <u ><%= @iph.commander.name %></u>
    </p>
  </div>


  <ul class="list-group ">
    <p class="list-group-item list-group-item-info">Ubicación</p>
  </ul>
  <div class="panel-body">
    <p>
      <b >Estado</b>
    <u ><%= @iph.state %></u>

    <b >Municipio</b>
    <u ><%= @iph.township.description %></u>
    </p>
    <p>
      <b >Distrito</b>
    <u ><%= @iph.district.description %></u>

    <b >Sector</b>
    <u ><%= @iph.sector.description %></u>

    <b >Turno</b>
    <u ><%= @iph.shift %></u>
    </p>
    <p>
      <b >Localidad</b>
    <u ><%= @iph.township.description %></u>
    <b >Colonia</b>
    <u ><%= @iph.suburb.description %></u>
    </p>
    <p>
      <b >Calle</b>
    <u ><%= @iph.street.description %></u>

    <b >Numero Interior</b>
    <u ><%= @iph.interior_number %></u>

    <b >Numero exterior</b>
    <u ><%= @iph.exterior_number %></u>

    <b >Codigo postal</b>
    <u ><%= @iph.zip %></u>
    </p>

    <p>
      <b >Between streets:</b>
    <u ><%= @iph.between_streets %></u>
    </p>
    <p>
      <b >References:</b>
    <u ><%= @iph.references %></u>
    </p>
    <p>
      <b >Tramo carretero</b>
      <% if !@iph.road %>

      <u >NO</u>
    <%else%>
      <u >SI</u>

      <b >Tramo carretero</b>
      <u ><%= @iph.road_name %></u>
      <b >Kilometro</b>
      <u ><%= @iph.kilometer %></u>

    <%end%>

    </p>
  </div>

  <ul class="list-group ">
    <p class="list-group-item list-group-item-info">Descripción de los hechos</p>
  </ul>
  <div class="panel-body">
    <p>
      <b ><%= @iph.facts_description %></b>
    </p>
  </div>


  <% @iph.person.each do |person| %>
    <ul class="list-group ">
      <a class="list-group-item active"> Persona involucrada 
        <%= person.id %>
      </a>
    </ul>
    <div class="panel-body">
      <p>
        <b >Apellido Paterno</b>
      <u ><%= person.last_name1 %></u>
      <b >Apellido Materno</b>
      <u ><%= person.last_name2 %></u>
      <b >Nombre(s)</b>
      <u ><%= person.first_name %></u>
      </p>
      <p>
        <b >Alias</b>
      <u ><%= person.alias %></u>
      <b >Nacionalidad </b>
      <u ><%= person.nacionality %></u>
      <b >Grupo Étnico </b>
      <u ><%= person.ethni_group %></u>
      </p>
      <p>
        <b >Fecha de Nacimiento</b>
      <u ><%= person.birth_date %></u>
      <b >Edad</b>
      <u ><%= person.age %></u>
      <b >RFC</b>
      <u ><%= person.rfc %></u>
      <b >Sexo</b>
      <u ><%= person.sex %></u>
      </p>
      <p>
        <b >Domicilio</b>
      <u ><%= person.domicile %></u>
      </p>
      <p>
        <b >Clasificacion</b>
      <u ><%= person.status.description %></u>
      <b >Grupo Étnico </b>
      <u ><%= person.residencial_status %></u>
      </p>
    </div>

    <ul class="list-group ">
      <p class="list-group-item list-group-item-info">Probables delitos</p>
    </ul>
    <div class="panel-body">
      <ul>
        <% person.crime_person.each do |crime| %>
          <li class="icon icon-attention-circled" style="list-style-type: none"><%= crime.crime.description %></li>
        <%end%>
      </ul>
    </div>

    <ul class="list-group ">
      <p class="list-group-item list-group-item-info">otros datos</p>
    </ul>
    <div class="panel-body">

      <p>
        <b >Ocupación</b>
      <u ><%= person.profession %> </u>

      <b >Escolaridad</b>
      <u ><%= person.pupilage %> </u>
      </p>
      <p>
        <b >Teléfono particular</b>
      <u ><%= person.particular_phone %> </u>
      <b >Teléfono celular</b>
      <u ><%= person.mobile_phone %> </u>
      </p>
      <p>
        <b >Observaciones</b>
      <u ><%= person.observations %> </u>
      </p>
    </div>

    <% if person.status.description != "VICTIMA" %>
      <ul class="list-group ">
        <p class="list-group-item list-group-item-info">Datos de la detencion</p>
      </ul>
      <div class="panel-body">
        <p>
          <b >Motivo de la detencion</b>
        <u > <%= @iph.infraction.description %></u>

        </p>
      </div>
    <% end %>
  <%end%>
  <% @iph.vehicles.each do |vehicle| %>
    <ul class="list-group ">
      <a class="list-group-item active">Vehiculo  <%=vehicle.id%></a>
    </ul>
    <div class="panel-body">
      <p>
        <b >Tipo</b>
      <u ><%= vehicle.kind.description %></u>
      <b >Marca </b>
      <u ><%= vehicle.brand.description %></u>
      <b >Linea</b>
      <u ><%= vehicle.sub_brand.description %></u>
      <b >Modelo </b>
      <u ><%=I18n.l vehicle.vehicle_year, :format => "%Y" %></u>
      </p>
      <p>
        <b >Matricula</b>
      <u ><%= vehicle.plate %></u>
      <b >Color </b>
      <u ><%= vehicle.color %></u>
      <b >Numero motor</b>
      <u ><%= vehicle.engine_serial %></u>
      </p>
      <p>
        <b >Numero de serie</b>
      <u ><%= vehicle.serial_number %></u>
      <b >Uso </b>
      <u ><%= vehicle.usage %></u>
      <b >Capacidad de pasajeros</b>
      <u ><%= vehicle.capacity %></u>
      </p>

      <p>
        <b >Procedencia</b>
      <u ><%= vehicle.precedence %></u>
      <b >Empresa </b>
      <u ><%= vehicle.company %></u>
      <b >Capacidad de carga</b>
      <u ><%= vehicle.load_capacity %></u>
      </p>
      <p>
      <b >Observaciónes</b>
      <u ><%= vehicle.observations %></u>
      </p>



    </div>
  <%end%>
</div>


<%= link_to_function('<i class="icon icon-print">Imprimir</i>'.html_safe, "javascript:print()", :class => "btn btn-warning")  %>

