<div class="page-header">
<%#= link_to iphs_path, :class => 'btn btn-default' do %>
<%#*<span class="glyphicon glyphicon-list-alt"></span>%>
<%#*Back%>
<%# end %>
<%#= link_to edit_iph_path(@iph), :class => 'btn btn-primary' do %>
<%#*<span class="glyphicon glyphicon-pencil"></span>%>
<%#*Edit%>
<%# end %>

  <h3 style="text-align: center;"><%= image_tag "/assets/logo_vialidad.png", :width => "50 px" %> 
    DIRECCION DE VIALIDAD Y TRANSITO
    <%= image_tag "/assets/logo_fiscalia.png", :width =>"50 px" %></h3>
  <h5 style="text-align: center;">
    <%= t(:iph) %>
  </h5>
</div>

<div class="panel panel-primary" style="font-size: 80%; margin-bottom: 57px">
  <!-- Default panel contents -->
  <div class="panel-heading">Datos generales</div>
  <div class="panel-body">
    <p style="padding-left:1em">
      <b  >Folio</b> 
    <u ><%= @iph.id %></u>

    <b>Numero de oficio</b>
    <u ><%= @iph.office_number.upcase if @iph.office_number %></u>

    <b  >Fecha y hora del evento</b>
    <u ><%=I18n.l @iph.event_date, :format => "%d de %B del %Y a las %H:%M hrs" %></u>
    </p>
    <p style="padding-left:1em">
      <b  >Numero Ece. Transporte</b>
    <u ><%= @iph.officer.patrol.description.upcase if @iph.officer.patrol %></u>

    <b  >No. de Oficial</b>
    <u ><%= @iph.officer.id %></u>
    </p>
    <p>
      <b >Motivo</b>
    <u ><%= @iph.infraction.description.upcase if @iph.infraction %></u>
    </p>
    <p>
      <b >Dirigido a</b>
    <u ><%= @iph.addressed_to.upcase if @iph.addressed_to %></u>
    </p>
    <p>
      <b >Oficial</b>
    <u ><%= @iph.officer.name.upcase if @iph.officer %> <%= @iph.officer.last_name2 if @iph.officer.last_name2? %></u>
    </p>
    <p>
      <b >Operativo</b>

      <%if !@iph.operative%>
      <u >   NO   </u>          
    <%else %>
      <u > SI</u>

      <b >Nombre del Operativo</b>
      <u ><%= @iph.operative_name.upcase if @iph.operative_name %></u>

    <%  end %>
    </p>
    <p>
      <b >Nombre del coordinador  </b>
    <u ><%= @iph.coordinator_name %></u>
    </p>
    <p>
      <b >Nombre del Comandante en turno  </b>
    <u ><%= @iph.commander.name.upcase if @iph.commander %></u>
    </p>
  </div>


  <ul class="list-group ">
    <p class="list-group-item list-group-item-info">Ubicación</p>
  </ul>
  <div class="panel-body">
    <p>
      <b >Estado</b>
    <u ><%= @iph.state.upcase %></u>

    <b >Municipio</b>
    <u ><%= @iph.township.description.upcase if @iph.township%></u>
    </p>
    <p>
      <b >Distrito</b>
    <u ><%= @iph.district.description.upcase if @iph.district %></u>

    <b >Sector</b>
    <u ><%= @iph.sector.description.upcase if @iph.sector %></u>

    <b >Turno</b>
    <u ><%= @iph.shift.upcase if @iph.shift %></u>
    </p>
    <p>
      <b >Localidad</b>
    <u ><%= @iph.township.description.upcase if @iph.township %></u>
    <b >Colonia</b>
    <% if @iph.suburb %>
      <u ><%= @iph.suburb.description.upcase if @iph.suburb %></u>
    <% end %>
    </p>
    <p>
      <b >Calle</b>
    <u ><%= @iph.street.description.upcase if @iph.street %></u>

    <b >Numero Interior</b>
    <u ><%= @iph.interior_number %></u>

    <b >Numero exterior</b>
    <u ><%= @iph.exterior_number %></u>

    <b >Codigo postal</b>
    <u ><%= @iph.zip %></u>
    </p>

    <p>
      <b >Entre las calles:</b>
    <u ><%= @iph.between_streets.upcase if @iph.between_streets %></u>
    </p>
    <p>
      <b >Referencias:</b>
    <u ><%= @iph.references.upcase if @iph.references %></u>
    </p>
    <p>
      <b >Tramo carretero</b>
      <% if !@iph.road %>

      <u >NO</u>
    <%else%>
      <u >SI</u>

      <b >Tramo carretero</b>
      <u ><%= @iph.road_name.upcase if @iph.road_name%></u>
      <b >Kilometro</b>
      <u ><%= @iph.kilometer %></u>

    <%end%>

    </p>
  </div>

  <ul class="list-group ">
    <p class="list-group-item list-group-item-info">Descripción de los hechos</p>
  </ul>
  <div class="panel-body">
    <p>
      <b ><%= @iph.facts_description.upcase if @iph.facts_description %></b>
    </p>
  </div>


  <% @iph.person.each do |person| %>
    <ul class="list-group ">
      <a class="list-group-item active"> Persona involucrada 
        <%= person.id %>
      </a>
    </ul>
    <div class="panel-body">
      <p>
        <b >Apellido Paterno</b>
      <u ><%= person.last_name1.upcase if person.last_name1%></u>
      <b >Apellido Materno</b>
      <u ><%= person.last_name2.upcase if person.last_name2%></u>
      <b >Nombre(s)</b>
      <u ><%= person.first_name.upcase if person.first_name%></u>
      </p>
      <p>
        <b >Alias</b>
      <u ><%= person.alias.upcase if person.alias %></u>
      <b >Nacionalidad </b>
      <u ><%= person.nacionality.upcase if person.nacionality %></u>
      <b >Grupo Étnico </b>
      <u ><%= person.ethni_group.upcase if person.ethni_group%></u>
      </p>
      <p>
        <b >Fecha de Nacimiento</b>
      <u ><%= I18n.l person.birth_date, :format => :default if person.birth_date %></u>
      <b >Edad</b>
      <u ><%= person.age %></u>
      <b >CURP/RFC</b>
      <u ><%= person.rfc.upcase if person.rfc %></u>
      <b >Sexo</b>
      <u ><%= person.sex.upcase if person.sex %></u>
      </p>
      <p>
        <b >Domicilio</b>
      <u ><%= person.domicile.upcase if person.domicile%></u>
      </p>
      <p>
        <b >Clasificacion</b>
      <u ><%= person.status.description.upcase if person.status.description %></u>
      <b >Grupo Étnico </b>
      <u ><%= person.residencial_status.upcase if person.residencial_status %></u>
      </p>
    </div>

    <ul class="list-group ">
      <p class="list-group-item list-group-item-info">Probables delitos</p>
    </ul>
    <div class="panel-body">
      <ul>
        <% person.crime_person.each do |crime| %>
          <li class="icon icon-attention-circled" style="list-style-type: none"><%= crime.crime.description.upcase %></li>
        <%end%>
      </ul>
    </div>

    <ul class="list-group ">
      <p class="list-group-item list-group-item-info">otros datos</p>
    </ul>
    <div class="panel-body">

      <p>
        <b >Ocupación</b>
      <u ><%= person.profession.upcase if person.profession %> </u>

      <b >Escolaridad</b>
      <u ><%= person.pupilage.upcase if person.pupilage %> </u>
      </p>
      <p>
        <b >Teléfono particular</b>
      <u ><%= person.particular_phone %> </u>
      <b >Teléfono celular</b>
      <u ><%= person.mobile_phone %> </u>
      </p>
      <p>
        <b >Observaciones</b>
      <u ><%= person.observations.upcase if person.observations %> </u>
      </p>
    </div>

    <% if person.status.description != "VICTIMA" %>
      <ul class="list-group ">
        <p class="list-group-item list-group-item-info">Datos de la detencion</p>
      </ul>
      <div class="panel-body">
        <p>
          <b >Motivo de la detencion</b>
        <u > <%= @iph.infraction.description.upcase if @iph.infraction %></u>
        </p>

        <p>
          <b >Ubicación del detenido:</b>
        <u > <%= person.detention_ubication %></u>
        </p>
        <p>
          <b>Autoridad a la que fue puesta a disposición:</b>
        <u> <%= person.at_disposal_of %>
        </u>
        </p>
        
          <p>
          <b>Nombre y cargo de quien recibió:</b>
        <u> <%= person.qualifier_officer_name if person.qualifier_officer_name %>
        </u>
        </p>

      </div>
    <% end %>
  <%end%>
  <% @iph.vehicles.each do |vehicle| %>
    <ul class="list-group ">
      <a class="list-group-item active">Vehiculo  <%=vehicle.id%></a>
    </ul>
    <div class="panel-body">
      <p>
        <b >Tipo</b>
      <u ><%= vehicle.kind.description.upcase if vehicle.kind %></u>
      <b >Marca </b>
      <u ><%= vehicle.brand.description.upcase if vehicle.brand %></u>
      <b >Linea</b>
      <u ><%= vehicle.sub_brand.description.upcase  if vehicle.sub_brand %></u>
      <b >Modelo </b>
      <u ><%=I18n.l vehicle.vehicle_year, :format => "%Y" if vehicle.vehicle_year %></u>
      </p>
      <p>
        <b >Matricula</b>
      <u ><%= vehicle.plate.upcase if vehicle.plate %></u>
      <b >Color </b>
      <u ><%= vehicle.color.upcase if vehicle.color %></u>
      <b >Numero motor</b>
      <u ><%= vehicle.engine_serial.upcase if vehicle.engine_serial %></u>
      </p>
      <p>
        <b >Numero de serie</b>
      <u ><%= vehicle.serial_number.upcase if vehicle.serial_number %></u>
      <b >Uso </b>
      <u ><%= vehicle.usage.upcase if vehicle.usage %></u>
      <b >Capacidad de pasajeros</b>
      <u ><%= vehicle.capacity %></u>
      </p>

      <p>
        <b >Procedencia</b>
      <u ><%= vehicle.precedence.upcase if vehicle.precedence %></u>
      <b >Empresa </b>
      <u ><%= vehicle.company.upcase if vehicle.company %></u>
      <b >Capacidad de carga</b>
      <u ><%= vehicle.load_capacity %></u>
      </p>
      <p>
        <b >Observaciónes</b>
      <u ><%= vehicle.observations.upcase if vehicle.observations %></u>
      </p>
    </div>
  <%end%>


  <% @iph.weapons.each do |weapon| %>
    <ul class="list-group ">
      <a class="list-group-item active">Arma  <%weapon.id%></a>
    </ul>
    <div class="panel-body">
      <p>
        <b >Tipo</b>
      <u ><%= weapon.weapons_type.description.upcase if weapon.weapons_type %></u>
      <b >Tipo</b>
      <u ><%= weapon.description.upcase if weapon.description %></u>
      </p>
      <p>
        <b >Marca </b>
      <u ><%= weapon.brand.upcase if weapon.brand %></u>
      <b >Tipo </b>
      <u ><%= weapon.weapon_type.upcase if weapon.weapon_type %></u>
      <b >Calibre </b>
      <u ><%= weapon.caliber.upcase if weapon.caliber %></u>
      <b >Serie </b>
      <u ><%= weapon.serial.upcase if weapon.serial%></u>
      </p>
      <p>
        <b >Inventario</b>
      <u ><%= weapon.inventary.upcase if weapon.inventary %></u>
      <b >Matricula SEDENA</b>
      <u ><%= weapon.sedena_enrollment.upcase if weapon.sedena_enrollment %></u>
      </p>

    </div>
    <ul class="list-group ">
      <p class="list-group-item list-group-item-info">Cargador / Cartuchos</p>
    </ul>
    <div class="panel-body">
      <p>
        <b >No. de Cartuchos</b>
      <u ><%= weapon.carriatage_number %></u>
      <b > Cartuchos utiles</b>
      <u ><%= weapon.util_carriatages %></u>
      <b >Percutidos</b>
      <u ><%= weapon.used_carriateges %></u>
      <b >  Numero de cargadores</b>
      <u ><%= weapon.chargers_numbers %></u>
      </p>
    </div>

  <%end%>
  <% if !@iph.money.blank? or !@iph.tactical_equipments.blank? or !@iph.documents.blank?  %>
    <ul class="list-group ">
      <a class="list-group-item active">Objetos asegurados</a>
    </ul>
  <%  end %>
  <% @iph.money.each do |money| %>
    <ul class="list-group ">
      <p class="list-group-item list-group-item-info">Moneda</p>
    </ul>

    <div class="panel-body">
      <p>
        <b >Tipo</b>
      <u ><%= money.kind.upcase %></u>
      <b >Cantidad</b>
      <u ><%= money.quantity %></u>

      <% if money.real_money %>
        <b>DINERO AUTENTICO</b>

      <%else%>
        <b>DINERO APÓCRIFO</b>
      <%end%>
      </p>
      <p>
        <b >Observaciones</b>
      <u ><%= money.observations.upcase %></u>
      </p>
    </div>
  <%end%>
  <% @iph.tactical_equipments.each do |tactical| %>
    <ul class="list-group ">
      <p class="list-group-item list-group-item-info">Equipo Táctico</p>
    </ul>

    <div class="panel-body">
      <p>
        <b >Tipo</b>
      <u><%= tactical.kind.upcase %></u>
      <b>Marca</b>
      <u><%= tactical.brand.upcase if tactical.brand %></u>
      <b>Modelo</b>
      <u><%= tactical.inventary.upcase if tactical.inventary %></u>
      <b>Serie</b>
      <u><%= tactical.serial.upcase if tactical.serial%></u>
      <b>Cantidad</b>
      <u><%= tactical.quantity %></u>
      </p>

    </div>
  <% end %>
  <% @iph.documents.each do |document| %>
    <ul class="list-group ">
      <p class="list-group-item list-group-item-info">Documentos</p>
    </ul>

    <div class="panel-body">
      <p>
        <b >Tipo</b>
      <u><%= document.kind.upcase %></u>
      <b >Cantidad</b>
      <u><%= document.quantity %></u>
      <% if document.real %>
        <b>AUTENTICO</b>
      <% else %>
        <b>APÓCRIFO</b>
      <%end%>
      </p>
      <p>
        <b >Observaciones</b>
      <u><%= document.observations.upcase %></u>
      </p>
    </div>
  <% end %>

  <% if !@iph.multimedium.blank? or !@iph.items.blank? %>
    <ul class="list-group ">
      <a class="list-group-item active">Informacion complementaria</a>
    </ul>
  <%end%>
  <% @iph.multimedium.each do |multimedia| %>
    <ul class="list-group ">
      <p class="list-group-item list-group-item-info">Multimedia</p>
    </ul>
    <div class="panel-body">
      <p>
        <b >Tipo</b>
      <u><%= multimedia.kind.upcase %></u>
      <b >Cantidad</b>
      <u><%= multimedia.quantity %></u>
      </p>
      <p>
        <b >Descripción</b>
      <u><%= multimedia.description.upcase %></u>
      </p>

    </div>
  <% end %>

  <% @iph.items.each do |item| %>
    <ul class="list-group ">
      <p class="list-group-item list-group-item-info">Multimedia</p>
    </ul>
    <div class="panel-body">
      <p>
        <b >Tipo</b>
      <u><%= item.kind.upcase if item.kind %></u>
      <b >Cantidad</b>
      <u><%= item.quantity %></u>
      </p>
      <p>
        <b >Descripción</b>
      <u><%= item.observations.upcase %></u>
      </p>

    </div>
  <% end %>
</div>





<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation" style="margin-bottom:0px;margin-left:0px;margin-right:0px;clear:both;">
  <div class="container">

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li> <%= link_to_function('<i class="icon icon-print">Imprimir</i>'.html_safe, "javascript:print()")  %></li>
        <li> 
          <%= link_to iphs_path do%>
            <i class="icon icon-back">Regresar</i>
          <%end%>
        </li>
        <li> 
          <%= link_to edit_iph_path(@iph) do %>
            <span class="icon icon-edit-3"></span>
            Editar
          <% end %>
        </li>
        <li> 
          <%= link_to new_iph_path do %>
            <span class="icon icon-plus"></span>
            Nuevo
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>




