<div class="page-header">
  <%= link_to new_photo_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Photo
  <% end %>
  <h1>Listing photos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Image file name</th>
            <th>Image content type</th>
            <th>Image file size</th>
            <th>Image updated at</th>
            <th>Person</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @photos) do |photo| %>
            <td><%= photo.id %></td>
            <td><%= photo.description %></td>
            <td><%= photo.image_file_name %></td>
            <td><%= photo.image_content_type %></td>
            <td><%= photo.image_file_size %></td>
            <td><%= photo.image_updated_at %></td>
            <td><%= photo.person_id %></td>
            <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
