<%= form_for(@vehicle, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @vehicle.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h4>

      <ul>
        <% @vehicle.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :kind_id, "Tipo", :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:kind_id, Kind.all, :id, :description, {:prompt => "SELECCIONE"})%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :brand_id, "Marca", :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:brand_id, Brand.all, :id, :description, {:prompt => "SELECIONE MARCA"}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sub_brand_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select(:sub_brand_id , []) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :vehicle_year, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :vehicle_year, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :plate, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :plate, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :color, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :color, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :engine_serial, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :engine_serial, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :serial_number, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :serial_number, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :usage, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :usage, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :capacity, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :capacity, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :precedence, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :precedence, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :company, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :company, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :load_capacity, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :load_capacity, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :observations, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :observations, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :iph_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :iph_id, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>

<script>
  $('#vehicle_brand_id').change(function() {
    $('#vehicle_sub_brand_id').empty();
    $.ajax({
      url: "/vehicles/get_sub_brands?id=" + this.value,
      dataType: 'jsonp',
      error: function(xhr, status, error) {
        alert(status);
      },
      success: setModels
    });

    function setModels(models) {
      var dropdown = document.getElementById("vehicle_sub_brand_id");
      if (dropdown) {
        for (var i = 0; i < models.length; ++i) {
          createOption(dropdown, models[i].description, models[i].id);
        }
      }
    }

    function createOption(dropdown, text, value) {
      var opt = document.createElement('option');
      opt.value = value;
      opt.text = text;
      dropdown.options.add(opt);
    }
  });

</script>